<article class="sm-post-card">
	<div class="sm-post-card__text">
		<div class="sm-post-card__header">
			<span class="sm-post-card__date">{{date}}</span>
			<div class="sm-post-card__tags">{{tags separator=", "}}</div>
			<div>{{authors}}</div>
		</div>
		<h3 class="sm-post-card__title"><a href="{{url}}">{{title}}</a></h3>
	</div>
	{{#if feature_image}}
	<div class="sm-post-card__image">
		<img src="{{feature_image}}" alt="feature-image">
	</div>
	{{else}}
	<div class="sm-post-card__image">
		<img src="/Placeholder-_-Begrippenlijst.svg" style="margin-bottom: 2rem;" alt="feature-image">
	</div>
	{{/if}}
</article>