{{!< default}}

<header class="header" {{#if @custom.header_background_image}} data-parallax="scroll" data-image-src="{{@custom.header_background_image}}" data-z-index="0" data-speed="0.5"{{/if}}>
		<div class="upper-header">
			<div class="upper-header__logo-title">
				{{#if @site.logo}}
					<img class="upper-header__logo" src="{{@site.logo}}" alt="logo-img">
				{{/if}}
				<h1 class="upper-header__title">{{@site.title}}</h1>
			</div>

			<div class="upper-header__nav">
				{{navigation}}
			</div>
			
			<div class="upper-header__signup">
				<span class="search-icon">{{search}}</span>
				{{#if @site.members_enabled}}
					{{#unless @member}}
						<a class="gh-head-button" href="#/portal/signup" data-portal="signup">Subscribe</a>
					{{else}}
						<a class="gh-head-button" href="#/portal/account" data-portal="account">Account</a>
					{{/unless}}
				{{/if}}
			</div>
		</div>
		<div class="lower-header">
			<div class="lower-header__text">
				{{#if @site.title}}
					<span class="lower-header__hello">👋🏻 hello</span>
					<h1 class="lower-header__title">{{@site.title}}</h1>
					<p class="lower-header__site-description">{{@site.description}}</p>
				{{/if}}
			</div>
		</div>
	</header>

{{#if @custom.show_latest_post_with_selected_tag}}
{{> posts-block}}
{{/if}}

{{#if @custom.show_featured_posts_section}}
<div class="posts-container" >
	<div class="posts-section">
		<div class="posts-section__header " >
			<h2 class="posts-section-block__title">Featured posts</h2>
			<a class="posts-section-block__show-all">View all...</a>
		</div>
		
		<div class="posts">
			{{#get "posts" include="tags, authors" filter="featured:true" limit="3"}} 
				{{#foreach posts}}
					{{> small-post-card}}
				{{/foreach}}
			{{/get}}
		</div>
	</div>
</div>
{{/if}}

{{#if @custom.show_latest_posts_with_selected_tag_section}}
{{> posts-grid-container}}
{{/if}}

{{#if @custom.show_other_posts_section}}
<div class="posts-container">
	<div class="posts-section" >
		<div class="posts-section__header " >
			<h2 class="posts-section-block__title">Other posts</h2>
			<a class="posts-section-block__show-all">View all...</a>
		</div>
		
		<div class="posts">
			{{#get "posts" include="tags, authors" filter="featured:false+tags:-[{{@custom.enter_tag_slug_for_post_to_be_displayed}},{{@custom.enter_tag_slug_tag_for_section_above}}]" limit="3"}} 
				{{#foreach posts}}
					{{> small-post-card}}
				{{/foreach}}
			{{/get}}
		</div>
	</div>
</div>
{{/if}}

{{> cta-subscribe}}
